pip
wheel
bump2version==1.0.1
watchdog==2.2.0
flake8==6.0.0
tox==4.0.8
coverage==6.5.0
Sphinx==5.3.0
twine==4.0.2
requests==2.28.1
{% if cookiecutter.command_line_interface|lower == 'click' -%}
click==8.0.4{% endif %}
{% if cookiecutter.use_pytest == 'y' -%}
pytest==7.2.0{% endif %}
{% if cookiecutter.use_black == 'y' -%}
black{% endif %}
